// -- Fonts --
$titleFont: Viga, sans-serif;
$contentFont: Philosopher, sans-serif;
$contentFontSize: 17.6px;
$menuFont: "Alegreya Sans",verdana, serif;
$menuFontSize: 20px;
$carouselFontSize: 32px;

// -- Colors --
$primaryColor: #383838;

// -- Sizes --

$navHeight: 90px;
$footerHeight: 400px;

// -- Links --
$imgCar1: 'http://i.imgur.com/g3HzYAI.jpg';
$imgCar2: 'http://i.imgur.com/V7MHIMe.jpg';
$imgCar3: 'http://i.imgur.com/8HjjHiB.jpg';
$imgKirim: 'http://i.imgur.com/kmQ3Tlq.jpg';
